body {
	background-color: #1b262c;
	text-align: center;
}
h1 {
	font-family: "VT323", monospace;
	color: #bbe1fa;
	margin: 5%;
	font-size: 5rem;
	line-height: 0.75;
}
footer {
	font-family: "Indie Flower", cursive;
	color: #dbedf3;
	margin-top: 5%;
}
.buton {
	margin: 3%;
	display: inline-block;
	width: 150px;
	height: 150px;
	border: 5px solid black;
	border-radius: 50%;
}
.green {
	background-color: green;
}
.red {
	background-color: red;
}
.yellow {
	background-color: yellow;
}
.blue {
	background-color: blue;
}
.pressed {
	box-shadow: 0 0 20px white;
	background-color: grey;
}
.game-over {
	background-color: red;
	opacity: 0.8;
}
#start_button {
	margin-bottom: 1.5rem;
	padding: 0.5% 4%;
	font-size: 2rem;
	font-family: "Indie Flower", cursive;
	color: #dbedf3;
	box-shadow: 5px 5px 5px black;
}
